/* fonts:
font-family: 'Spartan', sans-serif;
font-family: 'Karla', sans-serif; */
* {
  margin: 0;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
}

#logo {
  width: 25%;
}
a {
  margin-left: 3%;
  width: 100%;
}

.project-link {
  color: #8be0fc;
  margin-left: 0;
}

.project-link:hover {
  text-decoration: underline;
}

#menu {
  display: flex;
  justify-content: space-between;
}

#links {
  margin: 3%;
  display: flex;
  justify-content: flex-end;
}

p {
  margin-left: 5%;
}

#title {
  font-family: 'Spartan', sans-serif;
  font-size: 300%;
  color: #86c9fc;
  margin-left: 5%;
}
.bigger {
  font-size: 200%;
}

.project {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}

.proj-image {
  width: 250px;
  height: 250px;
  margin: 3px;
}

#experience {
  margin-top: 20px;
  margin-bottom: 20px;
}

.languages {
  font-size: 140%;
}

/* link hover effects from Stas Melnikov */

/*
* These styles creates the underlining of link
*/

.links{
  margin: 5px;
	position: relative;
	z-index: 1;
	display: inline-flex;
  color: white;

	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.links::before{
	content: "";
	width: 100%;
	height: 100%;
  /* background-color: #fa4d9b; */

	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;

	will-change: width;
	transform: rotate(2deg);
	transform-origin: left bottom
}

.links:hover::before{
	width: 0;
}

/*
* animation styles
*/

.links::before{
	transition: width .1s ease-out;
}

.links:hover::before{
	transition-duration: .15s;
}

.links:hover {
  color: black;
}
/* end of link hover effects */




/* link colors */

#code-link::before {
  background-color: #86c9fc;
  /* blue */
}

#design-link::before {
  background-color: #bd8bf0;
  /* purple */
}

#photo-link::before {
  background-color: #8be0fc;
  /* happier blue */
}

#film-link::before {
  background-color: #4dfac3;
  /* aqua */
}

#art-link::before {
  background-color: #fab84d;
  /* orange */
}

#music-link::before {
  background-color: #fa4d9b;
  /* pink */
}

#writing-link::before {
  background-color: #f52a2a;
  /* red */
}

#projects-link::before {
  background-color: #89ed6f;
  /* green */
}

#resume-link::before {
  background-color: #ffed66;
  /* yellow */
}

#about-link::before {
  background-color: #ba68ed;
  /* brighter purple */
}
